/* @override http://cooper.local/portfolio/touch.css */

/* Trimmed-down Reset CSS */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,code,em,img,q,s,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,caption,table,tr,td,th,thead,tbody,tfoot{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body{ line-height: 1 }
ol,ul{ list-style: none }
blockquote,q{ quotes: none }
blockquote:before,blockquote:after,q:before,q:after{ content:''; content: none; }
:focus{ outline: 0; }
table{ border-collapse: collapse; border-spacing: 0; }
*{ -webkit-user-select: none; -webkit-text-size-adjust: none; }

body{
	font: 12px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#container{
	width: 100%;
	height: 100%;
	position: absolute;
	background: #FFF;
}

#square-container{
	position: absolute;
	top: 50%;
	left: 50%;
}

#square{
	position: relative;
	height: 200px;
	width: 200px;
	left: -100px;
	top: -100px;
	color:#000;
	background: #FFF;
	font: 10px/16px Helvetica;
	border: 1px solid #1285dc;
	overflow: hidden;
}

#square strong{
	display: inline-block;
	width: 30px;
}

#square span{
	display: inline-block;
	width: 50px;
	text-align: right;
}

body.portrait{
	background: #F00;
}

body.landscape{
	background: #FF0;
}

#square p{
	padding: 20px 20px 0;
}