/* @override http://cooper.local/iphone/touch.css */

/* Trimmed-down Reset CSS */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,code,em,img,q,s,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,caption,table,tr,td,th,thead,tbody,tfoot{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body{ line-height: 1 }
ol,ul{ list-style: none }
blockquote,q{ quotes: none }
blockquote:before,blockquote:after,q:before,q:after{ content:''; content: none; }
:focus{ outline: 0; }
table{ border-collapse: collapse; border-spacing: 0; }
*{ -webkit-user-select: none; -webkit-text-size-adjust: none; }

body{
	font: 12px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#container{
	position: absolute;
	background: #FFF;
}

/* Viewport sizes minus address bar */
body.portrait #container{
	width: 320px;
	height: 417px;
}

body.landscape #container{
	width: 480px;
	height: 269px;
}

/* Home screen bookmark */
body.portrait.standalone #container{
	width: 320px;
	height: 460px;
}

body.landscape.standalone #container{
	width: 480px;
	height: 300px;
}

#square-container{
	position: absolute;
	top: 50%;
	left: 50%;
}

#square{
	position: relative;
	height: 180px;
	width: 180px;
	left: -100px;
	top: -100px;
	border: 1px solid rgba(0,0,0,0.65);
	background-color: rgba(255,255,255,0.8);
	overflow: hidden;
/*	-webkit-box-shadow: #000000 0 0 10px;*/
	padding-top: 16px;
	padding-left: 20px;
	line-height: 16px;
	font-size: 14px;
	padding-bottom: 4px;
}

#square b{
	display: inline-block;
	width: 50px;
	font-family: "Courier New", Courier, mono;
}

#square span{
	display: inline-block;
	width: 95px;
	text-align: right;
}

#square ul{
	margin-bottom: 6px;
}