/* @override http://cooper.local/iphone/touch.css */

/* Trimmed-down Reset CSS */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,code,em,img,q,s,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,caption,table,tr,td,th,thead,tbody,tfoot{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body{ line-height: 1 }
ol,ul{ list-style: none }
blockquote,q{ quotes: none }
blockquote:before,blockquote:after,q:before,q:after{ content:''; content: none; }
:focus{ outline: 0; }
table{ border-collapse: collapse; border-spacing: 0; }
*{ -webkit-user-select: none; -webkit-text-size-adjust: none; }

body{
	font: 12px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#container{
	position: absolute;
	background: #FFF;
}

/* Viewport sizes minus address bar */
body.portrait #container{
	width: 320px;
	height: 417px;
}

body.landscape #container{
	width: 480px;
	height: 269px;
}

/* Home screen bookmark */
body.portrait.standalone #container{
	width: 320px;
	height: 460px;
}

body.landscape.standalone #container{
	width: 480px;
	height: 300px;
}

#square-container{
	position: absolute;
	top: 50%;
	left: 50%;
}

#container{
	height: 100%;
	width: 100%;
}

#content{
	position: relative;
	width: 100%;
	top: 50%;
	left: 50%;
/*	-webkit-box-shadow: #000000 0 0 10px;*/
}

#content #content-inner{
	position: absolute;
	top: -130px;
	left: -130px;
	width: 260px;
	height: 260px;
	border: 1px solid rgba(0,0,0,0.65);
	background-color: rgba(255,255,255,0.8);
}

#content-inner ul{
	margin: 12px 15px;
	overflow: hidden;
	height: 236px;
	width: 230px;
}

#content b{
	display: inline-block;
	width: 100px;
}

#content span{
	display: inline-block;
	width: 100px;
	text-align: right;
}

div.point{
	position: absolute;
}

div.point span{
	position: absolute;
	height: 80px;
	width: 80px;
	top: -40px;
	left: -40px;
	display: block;
	background: rgba(0,0,0,0.10);
	color: #FFF;
	text-align: center;
	letter-spacing: -1px;
	font: bold 9px/80px "Lucida Grande", Lucida, Verdana, sans-serif;
}